DATABASE_URL=

JWT_SECRET=

JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

FRONTEND_URL=

AI_SERVICE_URL=

SPRING_PROFILES_ACTIVE=

DOCKER_NETWORK=

NGINX_PORT=

API_GATEWAY_PORT=
AUTH_SERVICE_PORT=
TENANT_SERVICE_PORT=
ADMIN_SERVICE_PORT=
LOADBALANCER_SERVICE_PORT=
MONITORING_SERVICE_PORT=
AUTOSCALING_SERVICE_PORT=
AI_SERVICE_PORT=